body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
}

.App {
  border: 1px solid rgb(155, 150, 150);
  padding: 25px;
  border-radius: 8px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select {
  padding: 8px;
}

Button {
  margin-bottom: 5px;
}